<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- End Required meta tags -->
    <!-- Begin SEO tag -->
    <title>@ViewData["Title"]</title>
    <meta property="og:title" content="@ViewData["MetaTitle"]">
    <meta name="author" content="Pravin Khabile">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="@ViewData["MetaDescription"]">
    <meta property="og:description" content="@ViewData["MetaDescription"]">
    <meta property="og:site_name" content="MovieGrep ">
    <script type="application/ld+json">
        {
        "name": "MovieGrep",
        "description": "The ultimate destination for movie quotes",
        "author":
        {
        "@@type": "Person",
        "name": "Pravin Khabile"
        },
        "@@type": "Web Site",
        "url": "",
        "headline": "Ultimate movie & TV Quotes destination on web",
        "@@context": "http://schema.org"
        }
    </script><!-- End SEO tag -->
    <!-- FAVICONS -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/favicon.ico">
    <meta name="theme-color" content="#3063A0"><!-- End FAVICONS -->
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600" rel="stylesheet"><!-- End GOOGLE FONT -->
    <!-- BEGIN PLUGINS STYLES -->
    <link rel="stylesheet" href="~/css/vendor/open-iconic/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/vendor/fontawesome/css/all.css">
    <link rel="stylesheet" href="~/css/vendor/flatpickr/flatpickr.min.css"><!-- END PLUGINS STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link rel="stylesheet" href="~/css/theme/theme.min.css" data-skin="default">
    <link rel="stylesheet" href="~/css/theme/theme-dark.min.css" data-skin="dark">
    <link rel="stylesheet" href="~/css/theme/custom.css"><!-- Disable unused skin immediately -->
    <script>
        var skin = localStorage.getItem('skin') || 'default';
        var unusedLink = document.querySelector('link[data-skin]:not([data-skin="' + skin + '"])');

        unusedLink.setAttribute('rel', '');
        unusedLink.setAttribute('disabled', true);

        var baseUrl = 'https://localhost:44347';

    </script><!-- END THEME STYLES -->
</head>
<body>
    <div class="app has-fullwidth" id="mainApp">
        <!--[if lt IE 10]>
        <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</div>
        <![endif]-->
        <!-- .app-header -->
        <header class="app-header app-header-dark">
            <!-- .top-bar -->
            <div class="top-bar">
                <!-- .top-bar-brand -->
                <div class="top-bar-brand bg-transparent">
                    <!-- toggle menu -->
                    <button class="hamburger hamburger-squeeze mr-2" type="button" data-toggle="aside" aria-label="toggle menu"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button> <!-- /toggle menu -->
                    <a href="/">
                        MovieGrep
                        <img src="~/images/logo-nobackground.png" alt="" style="height: 50px;width: auto;">
                    </a>
                </div><!-- /.top-bar-brand -->
                <!-- .top-bar-list -->
                <div class="top-bar-list">
                    <!-- .top-bar-item -->
                    <div class="top-bar-item px-2 d-md-none d-lg-none d-xl-none">
                        <!-- toggle menu -->
                        <button class="hamburger hamburger-squeeze" type="button" data-toggle="aside" aria-label="Menu" aria-controls="navigation"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button> <!-- /toggle menu -->
                    </div><!-- /.top-bar-item -->
                    <!-- .top-bar-item -->
                    <div class="top-bar-item top-bar-item-full">
                        <!-- .top-bar-search -->
                        <div class="top-bar-search">
                            <div class="input-group input-group-search">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span>
                                </div><input type="text" class="form-control" aria-label="Search" placeholder="Search Title" v-model="searchText" v-on:keyDown="search">
                            </div>
                        </div><!-- /.top-bar-search -->
                    </div><!-- /.top-bar-item -->
                    <!-- .top-bar-item -->
                    <div class="top-bar-item top-bar-item-right px-0 d-none d-sm-flex">
                        <!-- .nav -->
                        <ul class="header-nav nav">
                            <!-- .nav-item -->
                            <!-- .nav-item -->
                            <!-- .nav-item -->
                            <li class="nav-item dropdown header-nav-dropdown">
                                <a class="nav-link" href="#!" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="oi oi-grid-three-up"></span></a>
                                <div class="dropdown-arrow"></div><!-- .dropdown-menu -->
                                <div class="dropdown-menu dropdown-menu-rich dropdown-menu-right">
                                    <!-- .dropdown-sheets -->
                                    <div class="dropdown-sheets">
                                        <!-- .dropdown-sheet-item -->
                                        <div class="dropdown-sheet-item">
                                            <a asp-controller="explore" asp-action="all" class="tile-wrapper"><span class="tile tile-lg bg-indigo"><i class="oi oi-dashboard"></i></span> <span class="tile-peek">Explore</span></a>
                                        </div><!-- /.dropdown-sheet-item -->
                                        @if (User.Identity.IsAuthenticated == false)
                                        {
                                            <div class="dropdown-sheet-item">
                                                <a asp-controller="account" asp-action="login" class="tile-wrapper"><span class="tile tile-lg bg-indigo"><i class="oi oi-person"></i></span> <span class="tile-peek">Login</span></a>
                                            </div><!-- /.dropdown-sheet-item -->
                                        }
                                        else
                                        {
                                            <div class="dropdown-sheet-item">
                                                <a asp-controller="media" asp-action="upload" class="tile-wrapper"><span class="tile tile-lg bg-teal"><i class="oi oi-file"></i></span> <span class="tile-peek">Upload</span></a>
                                            </div>
                                        }
                                        @*<div class="dropdown-sheet-item">
            <a href="#!" class="tile-wrapper"><span class="tile tile-lg bg-pink"><i class="fa fa-tasks"></i></span> <span class="tile-peek">Tasks</span></a>
        </div>

        <div class="dropdown-sheet-item">
            <a href="#!" class="tile-wrapper"><span class="tile tile-lg bg-yellow"><i class="oi oi-fire"></i></span> <span class="tile-peek">Feeds</span></a>
        </div>
        <div class="dropdown-sheet-item">
            <a href="#!" class="tile-wrapper"><span class="tile tile-lg bg-cyan"><i class="oi oi-document"></i></span> <span class="tile-peek">Files</span></a>
        </div>*@
                                    </div>
                                </div>
                            </li><!-- /.nav-item -->
                        </ul><!-- /.nav -->
                        <!-- .btn-account -->
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="dropdown">
                                <button class="btn-account d-none d-md-flex" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="account-summary pr-lg-4 d-none d-lg-block">
                                        <span class="account-name">@User.Identity.Name</span>

                                        @*<span class="account-description">Marketing Manager</span>*@
                                    </span>
                                </button>
                                <div class="dropdown-arrow dropdown-arrow-left"></div>
                                <div class="dropdown-menu">
                                    <h6 class="dropdown-header d-none d-md-block d-lg-none"> @User.Identity.Name </h6>
                                    <a class="dropdown-item" asp-controller="account" asp-action="logout">
                                        <span class="dropdown-icon oi oi-account-logout"></span> Logout
                                    </a>

                                </div>
                            </div>
                        }
                        else
                        {
                            @*<a asp-controller="account" asp-action="login" class="btn btn-sky">
                Login
            </a>*@
                            @*<a asp-controller="account" asp-action="login" class="btn btn-labeled btn-palegreen">
                <i class="btn-label glyphicon glyphicon-ok"></i>Success
            </a>*@

                            @*<a asp-controller="account" asp-action="login"
               class=" dropdown-toggle" data-toggle="dropdown" title="Help" aria-expanded="true">
                <i class="icon fa fa-file-signature"></i>
            </a>*@

                            @*<a class="btn btn-default purple" asp-controller="account" asp-action="login">
                                <i class="fa fa-plus"></i>
                                Login
                            </a>*@

                            <a href="javascript:void(0);" class="btn btn-default  btn-circle btn-xs"><i class="glyphicon glyphicon-ok"></i></a>
                        }
                        @*<div>
            <a asp-controller="media" asp-action="upload" class="tile-wrapper"><span class="tile tile-lg bg-teal"><i class="oi oi-file"></i></span> <span class="tile-peek">Upload</span></a>
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-controller="Account" asp-action="Profile">Hello @User.Identity.Name!</a></li>
                    <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
                }
                else
                {
                    <li><a asp-controller="account" asp-action="login">Login</a></li>
                }
            </ul>
        </div>*@
                    </div><!-- /.top-bar-item -->
                </div><!-- /.top-bar-list -->
            </div><!-- /.top-bar -->
        </header><!-- /.app-header -->
        <!-- .app-aside -->
        <aside class="app-aside app-aside-light">
            <!-- .aside-content -->
            <div class="aside-content">
                <!-- .aside-header -->
                <header class="aside-header">
                    <!-- toggle menu -->
                    <button class="hamburger hamburger-squeeze" type="button" data-toggle="aside" aria-label="Menu" aria-controls="navigation"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button> <!-- /toggle menu -->
                    <!-- .btn-account -->
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button class="btn-account d-flex d-md-none" type="button" data-toggle="collapse" data-target="#dropdown-aside">
                            @*<span class="user-avatar user-avatar-lg">
                <img src="~/images/avatars/profile.jpg" alt="">
                </span> <span class="account-icon"><span class="fa fa-caret-down fa-lg">
                      </span>
                     </span>*@

                            <span class="account-summary">

                                <span class="account-name">@User.Identity.Name</span>
                            </span>
                        </button> <!-- /.btn-account -->
                        <!-- .dropdown-aside -->
                        <div id="dropdown-aside" class="dropdown-aside d-md-none collapse">
                            <!-- dropdown-items -->
                            <div class="pb-3">
                                @*<a class="dropdown-item" href="user-profile.html"><span class="dropdown-icon oi oi-person"></span> Profile</a>*@
                                <a class="dropdown-item"  asp-controller="account" asp-action="logout"><span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
                                @*<div class="dropdown-divider"></div><a class="dropdown-item" href="#!">Help Center</a> <a class="dropdown-item" href="#!">Ask Forum</a> <a class="dropdown-item" href="#!">Keyboard Shortcuts</a>*@
                            </div><!-- /dropdown-items -->
                        </div><!-- /.dropdown-aside -->
                    }
                    <!-- .top-bar-brand -->
                    <div class="top-bar-brand bg-primary">
                        <a href="index.html">
                            @*<img src="~/images/brand-inverse.png" height="32" alt="">*@
                            <span>MovieGrep</span>
                        </a>
                    </div><!-- /.top-bar-brand -->
                </header><!-- /.aside-header -->
                <!-- .aside-menu -->
                <section class="aside-menu">
                    <!-- .stacked-menu -->
                    <nav id="stacked-menu" class="stacked-menu">
                        <!-- .menu -->
                        <ul class="menu">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="menu-item">
                                    <a asp-controller="media" asp-action="upload" class="menu-link"><span class="menu-icon fas fa-file-upload"></span> <span class="menu-text">Upload</span></a>
                                </li>
                            }
                            else
                            {
                                <li class="menu-item">
                                    <a asp-controller="account" asp-action="login" class="menu-link"><span class="menu-icon fas fa-user-lock"></span> <span class="menu-text">Login</span></a>
                                </li>
                            }
                            @*<li class="menu-item">
            <a asp-controller="favorites" asp-action="top" class="menu-link"><span class="menu-icon fas fa-star"></span> <span class="menu-text">Top</span></a>
        </li>*@
                            <li class="menu-item">
                                <a asp-controller="explore" asp-action="all" class="menu-link"><span class="menu-icon fas fa-door-open"></span> <span class="menu-text">Explore</span></a>
                            </li>

                        </ul><!-- /.menu -->
                    </nav><!-- /.stacked-menu -->
                </section><!-- /.aside-menu -->
                <!-- Skin changer -->
                <div class="aside-footer border-top p-3">
                    <button class="btn btn-light btn-block" data-toggle="skin">Night mode <i class="fas fa-moon ml-1"></i></button>
                </div><!-- /Skin changer -->
            </div><!-- /.aside-content -->
        </aside><!-- /.app-aside -->
        <!-- .app-main -->
        <main class="app-main">
            <!-- .wrapper -->
            <div class="wrapper">
                @RenderBody()
            </div><!-- /.wrapper -->
            <!-- .app-footer -->
            @*<footer class="app-footer">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="text-muted" href="#!">Support</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="#!">Help Center</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="#!">Privacy</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="#!">Terms of Service</a>
                        </li>
                    </ul>
                    <div class="copyright"> Moviegrep - Copyright © 2019. All right reserved. </div>
                </footer>*@<!-- /.app-footer -->
        </main><!-- /.app-main -->
    </div><!-- /.app -->
    <!-- BEGIN BASE JS -->
    <script src="~/lib/vendor/jquery/jquery.min.js"></script>
    <script src="~/lib/vendor/bootstrap/js/popper.min.js"></script>
    <script src="~/lib/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/vue/vue.min.js"></script>
    <script src="~/lib/axios/axios.min.js"></script>
    <!-- END BASE JS -->
    <!-- BEGIN PLUGINS JS -->
    <script src="~/lib/vendor/pace/pace.min.js"></script>
    <script src="~/lib/vendor/stacked-menu/stacked-menu.min.js"></script>
    <script src="~/lib/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/lib/vendor/flatpickr/flatpickr.min.js"></script>
    @*<script src="~/lib/vendor/easy-pie-chart/jquery.easypiechart.min.js"></script>
        <script src="~/lib/vendor/chart.js/Chart.min.js"></script>*@
    <!-- END PLUGINS JS -->
    <!-- BEGIN THEME JS -->
    <script src="~/lib/looper/theme.min.js"></script>
    <!-- END THEME JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="~/js/main.js"></script>
    <!-- END PAGE LEVEL JS -->

    @RenderSection("scripts", required: false)
</body>
</html>
